Pandas-DataFrame And Series

 It provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

--Start-->

In [26]:
import pandas as pd

Series - 1D Like Object  similar to column of table

In [27]:
data = [1,2,3,4,5]
series = pd.Series(data)
print(f"Series - {series}") ##Return index and value and datatype
print(type(series))

Series - 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

Create series from dic

In [28]:
data = {'a':1,'b':2,'c':3}
series_dict = pd.Series(data)
print(f"Series - {series_dict}")

Series - a    1
b    2
c    3
dtype: int64

In [29]:
data = [10,20,30]
indexes = ['a','b','c']

pd.Series(data=data,index=indexes)

a    10
b    20
c    30
dtype: int64

DATAFRAME -

Create Dataframe from dic

In [30]:
data={
    'Name':['Krish','John','Jack'],
    'Age':[25,30,45],
    'City':['Bangalore','New York','Florida']
} #Must have same number of elements

df = pd.DataFrame(data)
print(f"Data - \n{df}") #basically like excel
print(f"{type(df)}")

Data -
    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida
<class 'pandas.core.frame.DataFrame'>

Create Data frame from list of dic

In [31]:
data=[
    {'Name':'Krish','Age':32,'City':'Bangalore'},
    {'Name':'John','Age':34,'City':'Bangalore'},
    {'Name':'Happy','Age':32,'City':'Bangalore'},
    {'Name':'Jack','Age':32,'City':'Bangalore'}
]
df = pd.DataFrame(data)
print(f"{df}")

    Name  Age       City
0  Krish   32  Bangalore
1   John   34  Bangalore
2  Happy   32  Bangalore
3   Jack   32  Bangalore